h2 {
  background-color: #0f3057;
  border: 1 grey solid;
  color: white;
}
body {
   background: #e7eaf6;
}

#coordinates {
  text-align: center;
  margin-top: 20px;
}

#search-form {
  text-align: center;
  margin-bottom: 20px;
}

#result {
  text-align: center;
}
