<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stargazing Planner</title>
    <style>
    .ephemeris {
        text-align: center;
    }
    h2 {
        background-color: #0f3057;
        border: 1 grey solid;
        color: white;
    }
    body {
        background: #e7eaf6;
	box-sizing: border-box;
	display: block;
    }

    #coordinates {
        text-align: center;
        margin-top: 20px;
    }

    #search-form {
        text-align: center;
        margin-bottom: 20px;
    }

    #result, .objname {
        text-align: center;
    }
    #altazimuth {
        text-align: center;
    }
    #form-inputs {
        #height: 100%;
        #width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    </style>
</head>
<body>
    <div style="text-align:center; margin:30px;">
        <h2>Plan a night out under the stars✨</h2>
    </div>
    
	    <!--get search item from user-->
    <h3 class="objname">Search Object</h3>
    <form id="search-form">
        <label for="term">Object Name:</label>
        <input type="text" id="term" name="term"  placeholder="star or deep sky object name" required>
        <button type="submit">Get Object Info</button>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById("search-form").addEventListener("submit", function(event) {
            event.preventDefault();
            const term = document.getElementById("term").value;
            fetch(`/api/search?term=${term}`)
                .then(response => response.text())
                .then(result => {
                    document.getElementById("result").innerHTML = result;
                });
        });
    </script>
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    <!--convert right acencion and declination into altituse and azimuth-->
    <div id="altazimuth">
        <h3>Azimuth & Altitude</h3>
        <p>Use Right Ascension and declination values above</p>
        <form method="post" action="/api/get-alt-azimuth">
            <div id="form-inputs">
                <label for="date">Date (YYYY-MM-DD):</label>
                <input type="text" name="date" id="date" required>
	        <br>
                <label for="ra">RA (e.g., 18h 36m 56s):</label>
                <input type="text" name="ra" id="ra" required>
                <br>
                <label for="dec">DEC (degrees):</label>
                <input type="text" name="dec" id="dec" required>
                <br>
                <label for="local-altitude">Altitude (local):</label>
	        <input type="text" name="local-altitude" id="local-altitude" required>
                </br>


                <!-- Auto-loaded input fields for latitude and longitude -->
                <label for="latitude">Latitude:</label>
                <input type="text" name="latitude" id="latitude">
                <br>
                <label for="latitude">Longitude:</label>
                <input type="text" name="longitude" id="longitude">
                <!-- Add a button to get user's location -->
                <button type="button" onclick="getLocation()">Get My Location</button>
                <br>
                <button type="submit">Calculate</button>
            </div>
        </form>
        {% if alt is defined and az is defined %}
            <h2>Results:</h2>
            <p>Azimuth: {{ az }}</p>
            <p>Altitude: {{ alt }}</p>
        {% endif %}

        {% if message is defined %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    // Get latitude and longitude from the browser
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Populate the hidden input fields
                    document.getElementById('latitude').value = latitude;
                    document.getElementById('longitude').value = longitude;
                });
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }
    </script>


    <!--Get latitude and longitude from user, link to flask app-->
    <h3 class="objname">Ephemeris Data</h3>
    <form method="post", action="/api/riseAndSetTimes" id="coordinates">
        <label for="latitude">Latitude:</label>
        <input type="text" id="latitude" name="latitude" required>
        <label for="longitude">Longitude:</label>
        <input type="text" id="longitude" name="longitude" required>
	<button type="submit">Get Rise and Set Times</button>
    </form>
    
    {% if sunrise or sunset or solar_noon or civil_twilight_begin or civil_twilight_end %}
    <h3 class="ephemeris">Ephemeris Data (GMT)</h3>
    {% endif %}

    {% if no_coordinates %}
        <p>Please enter valid coordinates to get ephemeris data.</p>
    {% else %}    
        {% if sunrise %}
            <p class="ephemeris">Sunrise: {{ sunrise }}</p>
        {% endif %}

        {% if sunset %}
            <p class="ephemeris">Sunset: {{ sunset }}</p>
        {% endif %}

        {% if solar_noon %}
            <p class="ephemeris">Solar Noon: {{ solar_noon }}</p>
        {% endif %}

        {% if day_length %}
            <p class="ephemeris">Day Length: {{ day_length }}</p>
        {% endif %}

        {% if civil_twilight_begin %}
            <p class="ephemeris">Civil Twilight Begin: {{ civil_twilight_begin }}</p>
        {% endif %}

        {% if civil_twilight_end %}
            <p class="ephemeris">Civil Twilight End: {{ civil_twilight_end }}</p>
        {% endif %}

        {% if nautical_twilight_begin %}
            <p class="ephemeris">Nautical Twilight Begin: {{ nautical_twilight_begin }}</p>
        {% endif %}

        {% if nautical_twilight_end %}
            <p class="ephemeris">Nautical_twilight_end: {{ nautical_twilight_end }}</p>
        {% endif %}

        {% if astronomical_twilight_begin %}
            <p class="ephemeris">Astronomical Twilight Begin: {{ astronomical_twilight_begin }}</p>
        {% endif %}

        {% if astronomical_twilight_end %}
            <p class="ephemeris">Astronomical Twilight End: {{ astronomical_twilight_end }}</p>
        {% endif %}

        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
